[submodule "grudges-react-state"]
	path = grudges-react-state
	url = https://github.com/johanquiroga/grudges-react-state.git
[submodule "simple-counter-react-state"]
	path = simple-counter-react-state
	url = https://github.com/johanquiroga/simple-counter-react-state.git
[submodule "user-signup-react-state"]
	path = user-signup-react-state
	url = https://github.com/johanquiroga/user-signup-react-state.git
[submodule "star-wars-characters-react-state"]
	path = star-wars-characters-react-state
	url = https://github.com/johanquiroga/star-wars-characters-react-state.git
